@using NetCoreApp.Models.DataModel
@model IEnumerable<NetCoreApp.Models.DataModel.Person>
@{
	ViewData["Title"] = "Persons";
}

<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">Persons</span>
</nav>

<ul class="list-group">
	@foreach (var person in Model)
	{
		<li class="list-group-item">@person.Name</li>
	}
</ul>